body{
	background:  url(leatherred.jpg);
	padding-top: 15px;
}

.panel{
	margin: auto;
	max-width: 550px;
	/* opacity: 0.9; */
}

.row {
	width: 100%;
	margin: auto;
}
.row .btn:not(.btn-block) { 
	width: 38%;
	margin: auto; 
	margin: 5px;
}

.btn-group-vertical{
	width: 100%;
	margin: auto; 
}

.btn-group .btn{
	width: 40%;
	margin: auto; 

}

.jumbotron{
	text-align: center;
	padding: 1px;
	color: white;
	background: url(leatherblue.jpg);
	padding-bottom: 15px;
}

